/* Bootstrap Overrides */

.navbar-inner{
    border-radius: 0px;
    -webkit-border-radius: 0px;
}

.navbar-inner a.brand{
    color: #FFF;
}

/* Global Admin Styles */

.navbar .container{
    width: 995px;
}

.page-container{
    width: 995px;
    margin: 0 auto;
}